<!-- <form action="">
  <h2>Hello, {{ username ? username : 'Enter your name' }}</h2>
  Enter your name to the input for change header
  <input type="text" [(ngModel)]="username" [value] = "username" name="username">
</form> -->
<div class="contact-form">
  <div class="contact-form__header">
    <div class="contact-form__header-panel">
      <div class="contact-form__front-side"></div>
      <div class="contact-form__text">Напишите нам</div>
      <div class="contact-form__back-side"></div>
    </div>
  </div>

</div>