/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background: repeating-linear-gradient(
    -45deg,
    #e7e7e7,
    #f7f7f7 10px
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}